<div class="container pt-3 pb-4">
    <div class="card">

        <div class="card-header p-5 card_login_css">
            <div class="d-flex flex-row">
                <h1 class="alert alert-light" style="color: #17a2b8">Login</h1>
            </div>

        </div>

        <div class="card-body">

            <form action="/login" method="post">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" required>
                <br>
                    <button class="btn btn-info" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>