<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/product/index">Produtos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produtos</li>
        </ol>
    </nav>

    <div class="row justify-content-center pb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-5 card_userTypes_css">
                    <div class="d-flex flex-row">
                        <h1 class="alert alert-light" style="color: #33b5e5">Novo Produto</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <form action="/admin/product/store" method="POST" enctype="multipart/form-data">
                            <hr class="bg-info">

                            {{#each erros}}
                                <div class="alert alert-danger">{{texto}}</div>
                            {{/each}}

                            <div class="pt-2 col-md-8">
                                <label class="form-label text-black-50" for="nome">Nome:</label>
                                <input type="text" id="nome" name="nome" placeholder="Nome do Produto" class="form-control">
                            </div>

                            <div class="pt-2 col-md-8">
                                <label class="form-label text-black-50" for="codigo">Código:</label>
                                <input type="text" id="codigo" name="codigo" placeholder="Código do produto" class="form-control">
                            </div>

                            <div class="pt-2 col-md-4">
                                <label class="form-label text-black-50">Preço:</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">€</div>
                                    </div>
                                    <input type="text" id="preco" name="preco" placeholder="Preço do Produto" class="form-control">
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <label class="form-label text-black-50" for="imagem">Imagem:</label>
                                <input type="file" id="imagem" name="imagem" class="form-control-file">
                            </div>

                            <div class="pt-2 col-md-8">
                                <label for="tipo" class="form-label text-black-50">Tipo de produto:</label>
                                <select name="tipo" class="custom-select">
                                        <option value="Com prescrição médica">Com prescrição médica</option>
                                        <option value="Sem prescrição médica">Sem prescrição médica</option>
                                </select>
                            </div>

                            <div class="pt-3 col-md-8">
                                <button type="submit" class="btn btn-info float-left">Guardar <i class="far fa-save"></i></button>
                            </div>

                        </form>
                        <a href="/admin/product/index" role="button">
                            <button class="btn btn-outline-danger ml-1">Voltar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

