<div class="container pt-3">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/user/index">Utilizadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Novo Utilizador</li>
        </ol>
    </nav>

    <div class="row justify-content-center pb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-5 card_users_css">
                    <div class="d-flex flex-row">
                        <h1 class="alert alert-light" style="color: #17a2b8">Novo Utilizador</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <form action="/admin/user/store" method="POST">
                            <hr class="bg-info">

                            {{#each erros}}
                                <div class="alert alert-danger">{{texto}}</div>
                            {{/each}}

                            <div class="pt-2 col-md-12">
                                <label for="nome" class="text-black-50">Nome:</label>
                                <input type="text" id="nome" name="nome" placeholder="Nome do Utilizador" class="form-control">
                            </div>

                            <div class="pt-2 col-md-8">
                                <label for="slug" class="text-black-50">Email:</label>
                                <input type="text" id="email" name="email" placeholder="email do Utilizador" class="form-control">
                            </div>
                            <div class="pt-2 col-md-4">
                                <label for="password" class="text-black-50">Password:</label>
                                <input type="password" id="password" name="password" placeholder="password do Utilizador" class="form-control">
                            </div>
                            <div class="pt-2 col-md-4">
                                <label for="tiposUtilizador" class="text-black-50">Tipo de Utilizador:</label>
                                <select name="tiposUtilizador" class="custom-select">
                                    {{#each tiposUtilizador}}
                                        <option value="{{_id}}">{{nome}}</option>
                                    {{else}}
                                        <option value="0">
                                            Não existem tipos de utilizadores
                                        </option>

                                    {{/each}}
                                </select>
                            </div>


                            <div class="pt-3 col-md-8">
                                <button type="submit" class="btn btn-info float-left">Guardar <i class="far fa-save"></i></button>
                            </div>

                        </form>
                        <a href="/admin/user/index" role="button">
                            <button class="btn btn-outline-danger ml-1">Voltar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
